<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Show Graph</title>
</head>
<body>
    <iframe src="http://127.0.0.1:8000/graph/graphtxx" frameborder="0" style="width: 50%; height: 450px; float: left;"></iframe>
    <iframe src="http://127.0.0.1:8000/graph/graphtnx" frameborder="0" style="width: 50%; height: 450px; float: left;"></iframe>
</body>
</html>